* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Roboto, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100vh;
}

.main-container {
   display: flex;
   flex-direction: column;
}

.main-container header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 20px 200px;
}

.main-container header p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}